html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  cursor: url('../images/cursor-min.png') 15 12, auto;
}

.no-scroll {
  overflow: hidden;
  // visibility: hidden;
  // pointer-events: none;
}

.modal-open {
  overflow: hidden;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

// button:hover,
// button:focus,
// a:hover,
// a:focus {
//   cursor: url('../images/cursor-green.png') 15 12, auto;
// }