// @include fonts (null, 12, 1.2, 0.03em); font-weight: 400;
// @include fonts (700, 12, 1.2);
// @include fonts (500, 14, 1.2, 0.03em);

@mixin fonts($fw, $fz, $lh, $ls: inherit) {
  font-weight: $fw;
  font-size: $fz + px;
  line-height: $lh;
  letter-spacing: $ls;
}

// CIRCLE
// @include circle(44, 44);

@mixin circle($width: 44, $height: 44, $radius: 50%) {
  width: $width + px;
  height: $height + px;
  border-radius: $radius;
}

// TRANSITION
// @include transition ();

@mixin transition($duration: 300ms, $timing-function: linear) {
  transition-duration: $duration;
  transition-timing-function: $timing-function;
}

// FLEX-BASIS
// = > for flex-elements

// flex-basis: calc((100% - 2 * 30px) / 3);
// @include flex-basis(3, 30px);

@mixin flex-basis($item, $margin) {
  flex-basis: calc((100% - (#{$item} - 1) * #{$margin}) / #{$item});
}

// BREAKPOINTS

// @include mobile;
// @include min-max-mobile;

@mixin pre-mobile {
@media screen and (max-width: 479px) {
@content;
}
} 

@mixin mobile {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin min-max-mobile {
  @media (min-width: 480px) and (max-width: 767.98px) {
    @content;
  }
}

@mixin max-mobile {
  @media screen and (max-width: 767.98px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin min-max-tablet {
  @media (min-width: 768px) and (max-width: 1199.98px) {
    @content;
  }
}

@mixin max-tablet {
  @media screen and (max-width: 1199.98px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin retina {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
