
// font-family: 'Roboto', sans-serif;
// font-family: 'Seymour One', sans-serif;
 
 
$accent-color: #F8D24E;
$dark-color: #131313;
$light-color: #FCFCFC;


$address-map-color: #D6936D;

// button
$btn-light-border-color: #F8D24E;
$btn-dark-border-color: #0A8817;

$btn-light-bg-color: #F8D24E;
$btn-dark-bg-color: #0A8817;

$dark-btn-color: #131313;
$light-btn-color: #FCFCFC;


// background section
$mobile-menu-bg: #84A178;
$hero-bg: #84A178; 
// products
$products-icecream-bg: #AEC6A5;
$products-icecoffe-bg: #EFD478;
$products-milkshakes-bg: #D6936D;
//  
$about-bg: #84A178;
$advantages-bg: #84A178;
$reviews-bg: #84A178;
$contacts-bg: #84A178;


