.advantages__section {
    background-color:  #84A178;
    padding-bottom: 60px;
  
    @include mobile{
        width:100%;
    }
    @include tablet {
        padding-bottom: 204px;
    }
    @include desktop {
        padding-bottom: 180px;
}
}

.advantages__list {
    display:flex;
    flex-direction: column;
    gap: 94px;
    @include tablet {
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        width: 100%;
    }
    @include desktop {
        gap: 32px;
        width: 100%;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
    }
}

.advantages__item {
    display:flex;
    flex-direction: column;
    padding-left: 45px;
    padding-right: 45px;  
}

.advantages__quantity {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    text-transform: uppercase;
    color: #FCFCFC;
    margin-bottom: 18px;
    @include tablet {
        font-weight: 700;
        font-size: 48px;
        line-height: 1.2;
        margin-bottom: 16px;   
    }
    @include desktop {
        font-weight: 700;
        font-size: 58px;
        line-height: 1.2;
        margin-bottom: 16px;   
    }
}

.advantages__text {
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: #FCFCFC;
    @include tablet {
        font-weight: 400;
        font-size: 14px; 
    }
}

.cow {
    position: relative;
}
.cow::before {
    content: url('../images/advantages/cow.png');
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: -65px; 
    left: 50%;
    transform: translate(-50%); 
    @include mobile {
    top: -65px; 
    left: 50%;
    transform: translate(-50%); 
    }
}

.weight{
    position: relative;
}

.weight::before{
    content: url('../images/advantages/weight.png');
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: -65px; 
    left: 50%;
    transform: translate(-50%);
}

.ice {
    position: relative;
}

.ice::before {
    content: url('../images/advantages/ice.png');
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: -65px; 
    left: 50%;
    transform: translate(-50%);
}

.advantages__image {
    position: relative;
}

.advantages__image::after {
    position: absolute;
    content: url('../images/advantages/ice-creams-mob.png');
    position: absolute;
    display: block;
    border-radius: 24px;
    top: 30px; 
    left: 50%;
    transform: translate(-50%);
    
    @include mobile{
    max-width: 100%;
    }
    @include tablet {
    content: url('../images/advantages/ice-creams-tabl.png');
    max-width: 100%;
    top: 30px; 
    left: 47.4%;    
}
   @include desktop {
    content: url('../images/advantages/ice-creams-desk.png');
    max-width: 100%; 
    top: 30px; 
    left: 50%; 
}
}