.customers {
  height: 939px;
  padding-top: 80px;
  padding-bottom: 10px;

  background-image: url(../images/customers/bg_m-min.png);
  @include retina {
    background-image: url(../images/customers/bg_m@2x-min.png);
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100%;
  max-width: 1600px;

  margin: 0 auto;

  @include mobile {
    background-image: url(../images/customers/bg_t-min.png);
    @include retina {
      background-image: url(../images/customers/bg_t@2x-min.png);
    }
    background-size: auto;
    padding-top: 223px;
  }

  @media screen and (min-width: 800px) {
    height: 959px;

    background-image: url(../images/customers/bg_d-min.png);
    @include retina {
      background-image: url(../images/customers/bg_d@2x-min.png);
    }
  }
  @include desktop {
    height: 1013px;
    padding-top: 456px;
  }
}

.customers__text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 256px;
  width: 280px;

  @include fonts(400, 12, 2.55);
  text-align: center;

  color: $light-color;
  background-color: $reviews-bg;

  padding: 34px 39px;
  border-radius: 10px;
  margin: 0 auto 30px;

  @include tablet {
    height: 138px;
    width: 705px;

    @include fonts(500, 14, 1.86, 0.04em);

    padding: 29px 80px 28px;
    border-radius: 24px;
    margin-bottom: 32px;
  }

  @include desktop {
    width: 968px;

    font-size: 16px;

    padding: 39px 109px 47px;
  }
}

.customers__img {
  display: block;
  height: 85px;
  width: 85px;

  margin: 0 auto 32px;

  @include mobile {
    margin-bottom: 28px;
  }

  @include desktop {
    margin-bottom: 32px;
  }

  border-radius: 44px;
}

.customers__bg-grey {
  background: #6e6e6e;
}

.customers__bg-light {
  background: #d9d9d9;
}

.customers__data {
  display: block;
  @include fonts(500, 20, 1.86);

  @include mobile {
    font-size: 16px;
  }

  text-align: center;

  color: $dark-color;
}

.customers__pagination {
  position: static;

  margin-top: 32px;
}

.customers .swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: url('../images/cursor-green.png') 15 12, auto;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;

  background-color: #d9d9d9;

  margin-left: 9px;
  margin-right: 9px;

  opacity: 1;

  transition: background-color 0.3s linear, opacity 0.3s linear;

  &:hover,
  &:focus {
    background-color: #84a178;
    opacity: 0.6;
  }
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #84a178;
  opacity: 1;
}
