.header {
    position: absolute;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    // padding-right: 31px;

    @include tablet {
        padding-top: 20px;
        padding-bottom: 20px;
        // padding-right: 20px;
    }

    @include desktop {
        padding-top: 8px;
        padding-bottom: 8px;
        // padding-right: 20px;
    }
}

.header__container {
    position: relative;

    @include tablet {
        align-items: center;
    }
}

.mobile-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-logo {
    width: 40px;
    height: 37px;

    @include tablet {
        width: 48px;
        height: 44px;
    }

    @include desktop {
        width: 60px;
        height: 65px;
    }
}

.mobile-menu__button {
    display: inline-flex;
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: $light-color;
    stroke: $light-color;

    & .icon-burger {
        display: block;
    }

    & .icon-close {
        display: none;
    }

    @include tablet {
        margin-right: 177px;
    }

    @include desktop {
        display: none;
    }
}

.mobile-menu__button.is-open {
    & .icon-close {
        display: block;
    }

    & .icon-burger {
        display: none;
    }
}

.mobile-icons:focus > .icon-burger,
.mobile-icons:hover > .icon-burger {
    stroke: $accent-color;
    @include transition();
    transition-property: stroke;
}

.mobile-icons:focus > .icon-close,
.mobile-icons:hover > .icon-close {
    fill: $accent-color;
    transform: rotate(360deg);
    transform-origin: center;
    @include transition();
    transition-property: fill, transform;
}


.mobile-menu__container {
    background-color: $mobile-menu-bg;

    @include max-mobile {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        min-height: 100vh;
        z-index: 5;

        &.is-open {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            .mob-menu.is-open .mob-menu__container {
                    transform: scale(1) rotate(360deg);
                    @include transition();
                    transition-property: transform;
                }
        }
    }

    @include min-max-tablet {
        position: absolute;
        top: 10%;
        right: 4%;
        display: block;

        &.is-open {
            position: absolute;
            top: 100%;
            left: 0;
            max-width: 100%;
            width: 100%;
            min-height: 100vh;
            z-index: 5;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .logo {
                    display: none;
                }
            .mobile-menu__button,
            .main-nav__button {
                margin: 0;
            }
            .main-nav {
                display: block;
            }
        }
    }

    @include desktop {
        display: flex;
        justify-content: space-between;
    }
}

.main-nav {
    @include tablet {
        display: none;
    }

    @include desktop {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 auto;
    }
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include desktop {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        z-index: 2;
    }
}
.main-nav__item {
    margin-bottom: 0;
}
.main-nav__item:not(:last-child) {
    @include mobile {
        margin-bottom: 32px;
    }

    @include max-tablet {
        margin-bottom: 40px;
    }

    @include desktop {
        margin: 0;
        margin-right: 27px;
    }
}

.main-nav__link {
    @include transition();
    transition-property: color;
    @include mobile {
        @include fonts(700, 32, 1.2);
        color: $light-color;
        &:focus,
        &:hover {
            color: $dark-color;
        }
    }
    @include tablet {
        @include fonts(700, 48, 1.2);
    &:focus,
    &:hover {
        color: $dark-color;
    }
}
    @include desktop {
        display: flex;
        align-items: center;
        @include fonts(700, 16, 1.25);
        color: $light-color;
        &:focus,
        &:hover {
            color: $accent-color;
        }
    }
}


.main-nav__btn {
    @include tablet {
        display: block;
        min-width: 152px;
        height: 42px;
        margin-left: 32px;
    }

    @include desktop {
        display: block;
        margin-left: 247px;
    }
}

.btn-vector {
    @include fonts(700, 16, 1.29, 0.04em);
    vertical-align: middle;
    display: inline-block;
}

// .btn-vector {
//     width: 12px;
//     height: 12px;
//     margin-left: 7px;
//     vertical-align: center;
//     stroke: $dark-color;

//     .main-nav__btn:hover & {
//             stroke: $dark-color;
//             @include transition();
//             transition-property: stroke;
//     }
//     .main-nav__btn:focus & {
//         stroke: $light-color;
//         @include transition();
//         transition-property: stroke;
//     }
// }




// MODAL
.backdrop {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: #aeacab5f;
    @include transition ();
    transition-property: opacity, visibility;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    max-width: 500px;
    width: 100%;
    min-height: 609px;
    padding: 40px;

    background-color: #fff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    @include transition();
    transition-property: min-height;

    @include desktop {
        max-width: 528px;
        width: 100%;
        min-height: 581px;
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%);
    min-height: 0;
}


.modal__button-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
    margin: 0;
    @include circle(25, 25, 50%);

    background: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: $light-color;
    @include transition();
    transition-property: border-color, background-color;
}

.modal__button-close:focus,
.modal__button-close:hover {
    border-color: $accent-color;
    background-color: $accent-color;
}

.modal__icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);

    width: 20px;
    height: 20px;

    .modal__button-close:focus > &,
    .modal__button-close:hover > & {
        fill: $accent-color;
        @include transition();
        transition-property: fill;
    }
}