<!---------------------- MODAL 1 ICECREAM ------------------->
<div class="backdrop scroll-backdrop is-hidden" data-icecream-modal>
  <div class="modal products-modal">
    <button type="button" class="modal__button-close products-btn-close" data-icecream-close>
      <svg class="modal__icon-close" width="20" height="20">
        <use href="./images/icons/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <div class="scroll-container">
      <p class="modal__products-header title--dark">Chocolate icecream</p>
      <div class="modal__image-wrap">
        <img
          class="modal__products-image"
          srcset="
            ./images/products/modal-icecream-1x.png 1x,
            ./images/products/modal-icecream-2x.png 2x
          "
          src="./images/products/modal-icecream-1x.png"
          width="131"
          alt="icecream"
        />
      </div>

      <ul class="modal__ratio-list">
        <li class="modal__ratio-item">
          <p class="modal__ratio-value">320</p>
          <p class="modal__ratio-specification">kcal</p>
        </li>
        <li class="modal__ratio-item">
          <p class="modal__ratio-value">4g</p>
          <p class="modal__ratio-specification">Protein</p>
        </li>
        <li class="modal__ratio-item">
          <p class="modal__ratio-value">8,2g</p>
          <p class="modal__ratio-specification">Fats</p>
        </li>
        <li class="modal__ratio-item">
          <p class="modal__ratio-value">40,4g</p>
          <p class="modal__ratio-specification">Carbs</p>
        </li>
      </ul>

      <p class="modal__products-title">Ingredients</p>
      <ul class="modal__products-list list">
        <li class="modal__products-item">
          <p class="modal__products-text">Milk</p>
          <p class="modal__products-text">100ml</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Belgian chocolate</p>
          <p class="modal__products-text">20g</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Cream</p>
          <p class="modal__products-text">150ml</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Cocoa powder</p>
          <p class="modal__products-text">30g</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Sugar</p>
          <p class="modal__products-text">40g</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Vanilla sugar</p>
          <p class="modal__products-text">10g</p>
        </li>
      </ul>
      <form class="modal__products-form">
        <div class="modal__input-wrap">
          <label
            ><input
              type="text"
              name="user-name-icecream"
              class="modal__products-input"
              placeholder="Name"
              required
              id="user-name-icecream"
            />
          </label>

          <label
            ><input
              type="tel"
              name="user-telefon-icecream"
              class="modal__products-input"
              placeholder="Phone"
              required
              id="user-telefon-icecream"
            />
          </label>

          <label>
            <textarea
              name="user-text-icecream"
              id="user-text-icecream"
              class="modal__products-comment"
              placeholder="Comment"
            ></textarea>
          </label>
        </div>

        <button type="submit" class="btn--color-light modal__products-btn-submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<!---------------------- MODAL 2 ICECOFFEE ------------------->
<div class="backdrop scroll-backdrop is-hidden" data-icecoffee-modal>
  <div class="modal products-modal">
    <button type="button" class="modal__button-close products-btn-close" data-icecoffee-open>
      <svg class="modal__icon-close" width="20" height="20">
        <use href="./images/icons/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <div class="scroll-container">
      <p class="modal__products-header title--dark">Iced coffee with ice cream</p>
      <div class="modal__image-wrap modal__products-wrap--icecoffee">
        <img
          class="modal__products-image"
          srcset="
            ./images/products/product-icecoffee-mob-1x.png 1x,
            ./images/products/product-icecoffee-mob-2x.png 2x
          "
          src="./images/products/product-icecoffee-mob-1x.png"
          width="131"
          alt="icecream"
        />
      </div>

      <ul class="modal__ratio-list">
        <li class="modal__ratio-item modal__ratio-item--icecoffee">
          <p class="modal__ratio-value modal__ratio-value--icecoffee">233</p>
          <p class="modal__ratio-specification">kcal</p>
        </li>
        <li class="modal__ratio-item modal__ratio-item--icecoffee">
          <p class="modal__ratio-value modal__ratio-value--icecoffee">6.9g</p>
          <p class="modal__ratio-specification">Protein</p>
        </li>
        <li class="modal__ratio-item modal__ratio-item--icecoffee">
          <p class="modal__ratio-value modal__ratio-value--icecoffee">10.8g</p>
          <p class="modal__ratio-specification">Fats</p>
        </li>
        <li class="modal__ratio-item modal__ratio-item--icecoffee">
          <p class="modal__ratio-value modal__ratio-value--icecoffee">27.2g</p>
          <p class="modal__ratio-specification">Carbs</p>
        </li>
      </ul>

      <p class="modal__products-title">Ingredients</p>
      <ul class="modal__products-list list">
        <li class="modal__products-item">
          <p class="modal__products-text">Espresso coffee</p>
          <p class="modal__products-text">50ml</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Milk</p>
          <p class="modal__products-text">150ml</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Ice cubes</p>
          <p class="modal__products-text">6 pieces</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Vanilla ice cream</p>
          <p class="modal__products-text">60g</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Sugar</p>
          <p class="modal__products-text">20g</p>
        </li>
      </ul>
      <form class="modal__products-form">
        <div class="modal__input-wrap">
          <label
            ><input
              type="text"
              name="user-name-icecoffee"
              class="modal__products-input modal__products-input--icecoffee"
              placeholder="Name"
              required
              id="user-name-icecoffee"
            />
          </label>

          <label
            ><input
              type="tel"
              name="user-telefon-icecoffee"
              class="modal__products-input modal__products-input--icecoffee"
              placeholder="Phone"
              required
              id="user-telefon-icecoffee"
            />
          </label>

          <label>
            <textarea
              name="user-text-icecoffee"
              id="user-text-icecoffee"
              class="modal__products-comment modal__products-comment--icecoffee"
              placeholder="Comment"
            ></textarea>
          </label>
        </div>

        <button type="submit" class="btn--color-light modal__products-btn-submit">Submit</button>
      </form>
    </div>
  </div>
</div>

<!---------------------- MODAL 3 MILKSHAKE ------------------->
<div class="backdrop scroll-backdrop is-hidden" data-milkshakes-modal>
  <div class="modal products-modal">
    <button type="button" class="modal__button-close products-btn-close" data-milkshakes-close>
      <svg class="modal__icon-close" width="20" height="20">
        <use href="./images/icons/icons.svg#icon-modal-close"></use>
      </svg>
    </button>
    <div class="scroll-container">
      <p class="modal__products-header title--dark">Chocolate milkshake</p>
      <div class="modal__image-wrap modal__products-wrap--milkshake">
        <img
          class="modal__products-image"
          srcset="
            ./images/products/product-milkshake-mob-1x.png 1x,
            ./images/products/product-milkshake-mob-2x.png 2x
          "
          src="./images/products/product-milkshake-mob-1x.png"
          width="131"
          alt="icecream"
        />
      </div>

      <ul class="modal__ratio-list">
        <li class="modal__ratio-item modal__ratio-item--milkshake">
          <p class="modal__ratio-value modal__ratio-value--milkshake">508</p>
          <p class="modal__ratio-specification">kcal</p>
        </li>
        <li class="modal__ratio-item modal__ratio-item--milkshake">
          <p class="modal__ratio-value modal__ratio-value--milkshake">9g</p>
          <p class="modal__ratio-specification">Protein</p>
        </li>
        <li class="modal__ratio-item modal__ratio-item--milkshake">
          <p class="modal__ratio-value modal__ratio-value--milkshake">24g</p>
          <p class="modal__ratio-specification">Fats</p>
        </li>
        <li class="modal__ratio-item modal__ratio-item--milkshake">
          <p class="modal__ratio-value modal__ratio-value--milkshake">64g</p>
          <p class="modal__ratio-specification">Carbs</p>
        </li>
      </ul>

      <p class="modal__products-title">Ingredients</p>
      <ul class="modal__products-list list">
        <li class="modal__products-item">
          <p class="modal__products-text">Chocolate ice cream</p>
          <p class="modal__products-text">300g</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Milk</p>
          <p class="modal__products-text">100ml</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Chocolate sauce</p>
          <p class="modal__products-text">80g</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Whipped cream</p>
          <p class="modal__products-text">50g</p>
        </li>

        <li class="modal__products-item">
          <p class="modal__products-text">Oreo cookie</p>
          <p class="modal__products-text">1 piece</p>
        </li>
      </ul>
      <form class="modal__products-form">
        <div class="modal__input-wrap">
          <label
            ><input
              type="text"
              name="user-name-milkshake"
              class="modal__products-input modal__products-input--milkshake"
              placeholder="Name"
              required
              id="user-name-milkshake"
            />
          </label>

          <label
            ><input
              type="tel"
              name="user-telefon-milkshake"
              class="modal__products-input modal__products-input--milkshake"
              placeholder="Phone"
              required
              id="user-telefon-milkshake"
            />
          </label>

          <label>
            <textarea
              name="user-text-milkshake"
              id="user-text-milkshake"
              class="modal__products-comment modal__products-comment--milkshake"
              placeholder="Comment"
            ></textarea>
          </label>
        </div>

        <button type="submit" class="btn--color-light modal__products-btn-submit">Submit</button>
      </form>
    </div>
  </div>
</div>
