<section class="section about" id="about">
  <div class="container">
    <p class="about-pre-title pre-title pre-title--light">tradition and love</p>
    <h2 class="about-title title title--light">how it's made?</h2>
    <div class="about-main">
      <picture class="about__picture">
        <source srcset="images/about/cow-des-x1.png 1x, images/about/cow-des-x2.png 2x" media="(min-width: 1200px)" />
        <source srcset="images/about/cow-tab-x1.png 1x, images/about/cow-tab-x2.png 2x" media="(min-width: 768px)" />
        <source srcset="images/about/cow-mob-x1.png 1x, images/about/cow-mob-x2.png 2x" media="(min-width: 320px)" />
        <img src="images/about/cow-des-x1.png" alt="Our raw source" />
      </picture>

      <div class="about-text__wrapper">
        <p class="about-text">
          Ice is a place where you will become not only a little happier, but also healthier. Health
          is the main value for us, and we follow it when creating our handmade desserts.
        </p>
        <p class="about-text">
          We use traditional recipes and 100% natural ingredients. Our products are so natural that
          they can be given to children from the age of three years. Sweets lovers can expect 55
          types of ice cream, 15 types of coffee and 23 milkshakes.
        </p>
        <p class="about-text">This is enough to choose ice cream and coffee for any mood!</p>
        <button class="about__btn btn-ico" data-readmore-open>
          <span class="btn-ico__text">Read more</span>
          <svg class="btn-ico__icon" width="14px" height="14px">
            <use class="btn-ico__use" href="images/icons/icons.svg#icon-greater"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>