<section class="advantages__section">
<div class="advantages__container container">
    <h2 class="advantages__title vissually-hidden">Advantages</h2>
<ul class="advantages__list list">
    <li class="advantages__item">
        <div class="cow"></div>
        <span class="advantages__quantity">721</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.         
        </p>
    </li>
    <li class="advantages__item">
        <div class="weight"></div>
        <span class="advantages__quantity">16kg</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
    </li>
    <li class="advantages__item">
        <div class="ice"></div>
        <span class="advantages__quantity">84</span>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
    </li>
</ul>
</div>
</section>
