<section id="contacts" class="contacts__section section">
  <div class="contacts-main-container">
    <div class="contacts__container container">
      <h2 class="vissually-hidden">Contacts</h2>
      <ul class="contacts__list list">
        <li class="contacts__item">
          <span class="contacts__category">CAFE</span>
          <p class="contacts__text">Chicago</p>
          <address class="contacts__address">
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </address>
          <div class="line"></div>
          <p class="contacts__text">Monday - Friday</p>
          <p class="contacts__description">06:00 AM - 10:00 PM</p>
          <p class="contacts__text">Saturday - Sunday</p>
          <p class="contacts__description">08:00 AM - 16:00 PM</p>
          <div class="line"></div>
          <a class="contacts__contact" href="tel:+610383766284"> +61(0) 383 766 284</a>
          <a class="contacts__contact" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </li>
        <li class="contacts__item">
          <span class="contacts__category">FOODTRUCK</span>
          <p class="contacts__text">Los Angeles</p>
          <address class="contacts__address">
            11003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </address>
          <div class="line"></div>
          <p class="contacts__text">Monday - Friday</p>
          <p class="contacts__description">06:00 AM - 10:00 PM</p>
          <p class="contacts__text">Saturday - Sunday</p>
          <p class="contacts__description">08:00 AM - 16:00 PM</p>
          <div class="line"></div>
          <a class="contacts__contact" href="tel:+610383766284"> +61(0) 383 766 284</a>
          <a class="contacts__contact" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </li>
        <li class="contacts__item">
          <span class="contacts__category">CAFE</span>
          <p class="contacts__text">New York</p>
          <address class="contacts__address">726 Sterling Pl, Brooklyn, NY 11222, USA</address>
          <div class="line"></div>
          <p class="contacts__text">Monday - Friday</p>
          <p class="contacts__description">06:00 AM - 10:00 PM</p>
          <p class="contacts__text">Saturday - Sunday</p>
          <p class="contacts__description">08:00 AM - 16:00 PM</p>
          <div class="line"></div>
          <a class="contacts__contact" href="tel:+610383766284"> +61(0) 383 766 284</a>
          <a class="contacts__contact" href="mailto:noreply@envato.com"> noreply@envato.com</a>
        </li>
      </ul>
      <ul class="button__list">
        <li>
          <button data-modal-open class="btn button-locations" type="button" data-location-open>
            Our Locations
            <svg class="btn-ico__icon" width="14px" height="14px">
              <use class="btn-ico__use" href="images/icons/icons.svg#icon-greater"></use>
            </svg>
          </button>
        </li>
        <li>
          <button data-modal-open class="btn button-franchise" type="button" data-franchise-open>
            Franchise
            <svg class="btn-ico__icon" width="14px" height="14px">
              <use class="btn-ico__use" href="images/icons/icons.svg#icon-greater"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
