<section class="customers">
  <div class="container">
    <h2 class="vissually-hidden">Customers reviews</h2>
    <div class="swiper customersSwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <img
            class="customers__img customers__bg-grey"
            srcset="./images/customers/emily@1x-min.jpg 1x, ./images/customers/emily@2x-min.jpg 2x"
            src="./images/customers/emily-min.jpg"
            alt="Emily"
            title="Emily"
          />
          <p class="customers__text">
            I love visiting your cafe. You prepare the most delicious ice cream in Los Angeles! In
            addition, you have beautiful serving, cozy atmosphere and polite staff.
          </p>

          <span class="customers__data">Emily, Los Angeles</span>
        </li>
        <li class="swiper-slide">
          <img
            class="customers__img customers__bg-grey"
            srcset="./images/customers/bryan@1x-min.jpg 1x, ./images/customers/bryan@2x-min.jpg 2x"
            src="./images/customers/bryan-min.jpg"
            alt="Bryan"
            title="Bryan"
          />
          <p class="customers__text">
            Every day we come to you with friends after classes in college. We love your ice cream
            and casual atmosphere!
          </p>

          <span class="customers__data">Bryan, New-York</span>
        </li>
        <li class="swiper-slide">
          <img
            class="customers__img customers__bg-grey"
            srcset="./images/customers/diana@1x-min.jpg 1x, ./images/customers/diana@2x-min.jpg 2x"
            src="./images/customers/diana-min.jpg"
            alt="Diana"
            title="Diana"
          />
          <p class="customers__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the
            excellent service - always served politely and quickly!
          </p>

          <span class="customers__data">Diana, Chicago</span>
        </li>
        <li class="swiper-slide">
          <img
            class="customers__img customers__bg-grey"
            srcset="./images/customers/sam@1x-min.jpg 1x, ./images/customers/sam@2x-min.jpg 2x"
            src="./images/customers/sam-min.jpg"
            alt="Sam"
            title="Sam"
          />
          <p class="customers__text">
            I love eating popsicles on a hot day. Yours is always delicious. I recommend your cafe
            to everyone I know.
          </p>

          <span class="customers__data">Sam, Los Angeles</span>
        </li>
      </ul>
      <div class="swiper-pagination customers__pagination"></div>
    </div>
  </div>
</section>
