<footer class="footer">
  <div class="container footer__container">
    <div>
      <h2 class="footer__title">Homemade ice cream made</h2>
      <p class="footer__subtitle">With passion</p>
    </div>
    <div class="footer__contacts">
      <ul class="footer__networks">
        <li class="footer__list-item">
          <a
            class="footer__link"
            href="https://github.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="link to GitHub"
            ><svg class="footer__svg">
              <use href="./images/icons/icons.svg#icon-github"></use></svg
          ></a>
        </li>
        <li class="footer__list-item">
          <a
            class="footer__link"
            href="https://telegram.org/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="link to Telegram"
            ><svg class="footer__svg">
              <use href="./images/icons/icons.svg#icon-telegram"></use></svg
          ></a>
        </li>
        <li class="footer__list-item">
          <a
            class="footer__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer nofollow"
            aria-label="link to Facebook"
            ><svg class="footer__svg">
              <use href="./images/icons/icons.svg#icon-facebook"></use></svg
          ></a>
        </li>
      </ul>
      <p class="footer__text">
        Feel free to contact
        <a class="footer__tel" href="tel:+610383766284">+61 (0) 383 766 284</a>
      </p>
    </div>
  </div>
  <div class="footer__thumb">
    <p class="footer__copy">&#xa9; 2022 - IceCream.</p>
    <p class="footer__copy">All Rights Reserved.</p>
  </div>

  <!-- button top -->
  <div class="up-button__cover">
    <a href="#top" class="up-button" aria-label="button for page back home">
      <svg class="icon-top" width="20" height="20">
        <use
          class="icon__top"
          href="./images/icons/icons.svg#icon-arrow-svg"
        ></use>
      </svg>
    </a>
  </div>
</footer>
