<section class="gallery" id="gallery">
  <h2 class="vissually-hidden">Gallery</h2>
  <div class="gallery__overflow swiper mySwiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/gallery/berry_d-min.jpg    1x,
              ./images/gallery/berry_d@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1013"
          />

          <source
            srcset="
              ./images/gallery/berry_t-min.jpg    1x,
              ./images/gallery/berry_t@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./images/gallery/berry_t-min.jpg    1x,
              ./images/gallery/berry_t@2x-min.jpg 2x
            "
            media="(min-width: 481px)"
            width="481"
          />

          <source
            srcset="
              ./images/gallery/berry_m-min.jpg    1x,
              ./images/gallery/berry_m@2x-min.jpg 2x
            "
            width="279"
          />

          <img src="./images/gallery/berry-min.jpg" alt="Berry ice cream" />
        </picture>
      </li>
      <li class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/gallery/mix_d-min.jpg    1x,
              ./images/gallery/mix_d@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1013"
          />

          <source
            srcset="
              ./images/gallery/mix_t-min.jpg    1x,
              ./images/gallery/mix_t@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />

          <source
            srcset="
              ./images/gallery/mix_t-min.jpg    1x,
              ./images/gallery/mix_t@2x-min.jpg 2x
            "
            media="(min-width: 481px)"
            width="481"
          />

          <source
            srcset="
              ./images/gallery/mix_m-min.jpg    1x,
              ./images/gallery/mix_m@2x-min.jpg 2x
            "
            width="279"
          />

          <img
            class="gallery__img-mix"
            src="./images/gallery/mix-min.jpg"
            alt="Mix ice cream"
          />
        </picture>
      </li>
      <li class="swiper-slide">
        <picture>
          <source
            srcset="
              ./images/gallery/str_d-min.jpg    1x,
              ./images/gallery/str_d@2x-min.jpg 2x
            "
            media="(min-width: 1200px)"
            width="1013"
          />

          <source
            srcset="
              ./images/gallery/str_t-min.jpg    1x,
              ./images/gallery/str_t@2x-min.jpg 2x
            "
            media="(min-width: 768px)"
            width="704"
          />
          <source
            srcset="
              ./images/gallery/str_t-min.jpg    1x,
              ./images/gallery/str_t@2x-min.jpg 2x
            "
            media="(min-width: 481px)"
            width="481"
          />

          <source
            srcset="
              ./images/gallery/str_m-min.jpg    1x,
              ./images/gallery/str_m@2x-min.jpg 2x
            "
            width="279"
          />
          <img
            class="gallery__img-str"
            src="./images/gallery/str-min.jpg"
            alt="Strawberry ice cream"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
