<header class="header">
  <div class="container header__container">
    <!-- mobile-navigation -->
    <nav class="mobile-nav">
      <a class="logo" href="./index.html">
        <svg class="site-logo" width="40" height="37">
          <use
            class="icon-logo"
            href="./images/icons/icons.svg#icon-logo"
          ></use>
        </svg>
      </a>

      <button
        type="button"
        class="mobile-menu__button"
        aria-expanded="false"
        aria-controls="menu-container"
        data-menu-button
      >
        <svg
          class="mobile-icons"
          width="32"
          height="32"
          aria-label="switch mobile menu"
        >
          <use
            class="icon-burger"
            href="./images/icons/icons.svg#icon-burger"
          ></use>
          <use
            class="icon-close"
            href="./images/icons/icons.svg#icon-modal-close"
          ></use>
        </svg>
      </button>

      <div class="mobile-menu__container" id="menu-container" data-menu>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a
                href="./index.html"
                class="main-nav__link current"
                aria-label="link to home section"
                >Home</a
              >
            </li>
            <li class="main-nav__item">
              <a
                href="#gallery"
                class="main-nav__link"
                aria-label="link to gallery section"
                >About us</a
              >
            </li>
            <li class="main-nav__item">
              <a
                href="#about"
                class="main-nav__link"
                aria-label="link to about us section"
                >How it`s made?</a
              >
            </li>
            <li class="main-nav__item">
              <a
                href="#products"
                class="main-nav__link"
                aria-label="link to products section"
                >Our products</a
              >
            </li>
            <li class="main-nav__item">
              <a
                href="#contacts"
                class="main-nav__link"
                aria-label="link to contacts section"
                >Contact</a
              >
            </li>
          </ul>
        </nav>

        <button
          type="button"
          class="main-nav__btn btn btn--color-light"
          data-modal-open
        >
          Buy now <span class="btn-vector">&#62;</span>
          <!-- <svg class="btn-vector" width="12" height="12">
            <use
              class="icon-logo"
              href="./images/icons/icons.svg#icon-frame-next"
            ></use>
          </svg> -->
        </button>
      </div>
    </nav>
    <!-- desktop-menu -->

    <!-- <nav class="mob-menu__navigation">
          <ul class="mob-menu__list">
            <li class="mob-menu__item">
              <a
                href="./index.html"
                class="mob-menu__link"
                aria-label="link to home section"
                >Home</a
              >
            </li>
            <li class="mob-menu__item">
              <a
                href="#gallery"
                class="mob-menu__link"
                aria-label="link to gallery section"
                >About us</a
              >
            </li>
            <li class="mob-menu__item">
              <a
                href="#about"
                class="mob-menu__link"
                aria-label="link to about us section"
                >How it`s made?</a
              >
            </li>
            <li class="mob-menu__item">
              <a
                href="#products"
                class="mob-menu__link"
                aria-label="link to products section"
                >Our products</a
              >
            </li>
            <li class="mob-menu__item">
              <a
                href="#contact"
                class="mob-menu__link"
                aria-label="link to contacts section"
                >Contact</a
              >
            </li>
          </ul>
        </nav>
        <button type="button" class="mob-menu__btn btn btn--color-light">
          Buy now
          <svg class="btn-vector" width="12" height="12">
            <use
              class="icon-logo"
              href="./images/icons/icons.svg#icon-frame-next"
            ></use>
          </svg>
        </button>
    </nav> -->
  </div>
</header>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__button-close button" data-modal-close>
      <svg class="modal__icon-close" width="20" height="20">
        <use href="#"></use>
      </svg>
    </button>
  </div>
</div>
