<header class="header">
  <div class="container header__container">
    <div class="header__wrap">
      <a class="logo" href="./index.html">
        <svg width="40" height="37">
          <!-- <use class="icon-logo" href="./images/icons.svg#icon-logo"></use> -->
          <use href="#">#</use>
        </svg>
      </a>
      <nav class="main-nav">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a
              href="./index.html"
              class="main-nav__link current"
              aria-label="link to home section"
              >Home</a
            >
          </li>
          <li class="main-nav__item">
            <a
              href="#gallery"
              class="main-nav__link"
              aria-label="link to gallery section"
              >About us</a
            >
          </li>
          <li class="main-nav__item">
            <a
              href="#about"
              class="main-nav__link"
              aria-label="link to about us section"
              >How it`s made?</a
            >
          </li>
          <li class="main-nav__item">
            <a
              href="#products"
              class="main-nav__link"
              aria-label="link to products section"
              >Our products</a
            >
          </li>
          <li class="main-nav__item">
            <a
              href="#contacts"
              class="main-nav__link"
              aria-label="link to contacts section"
              >Contact</a
            >
          </li>
        </ul>
      </nav>

      <button type="button" class="main-nav__btn btn btn--color-yellow">
        Buy now
        <svg class="btn-vector" width="12" height="12">
          <!-- <use href="./images/svg/icons.svg#icon-vector-btn"></use> -->
          <use href="#">#</use>
        </svg>
      </button>
    </div>
    <!-- burger -->
    <div class="main-nav__connect">
      <button type="button" class="mobile-menu__button menu-open">
        <svg
          class="mobile-menu__burger"
          width="32"
          height="32"
          aria-label="switch mobile menu"
        >
          <!-- <use
            class="mobile-menu__icon-burger"
            href="./images/icons.svg#icon-burger"
          ></use> -->
          <use href="#">#</use>
        </svg>
      </button>
    </div>
  </div>
  <!-- mobile menu -->
  <div class="mob-menu is-hidden">
    <div class="mob-menu__container container">
      <!-- button-close -->
      <button class="mob-menu__button menu-close">
        <svg
          class="mobile-menu__cross"
          width="32"
          height="32"
          aria-label="switch mobile menu"
        >
          <use href="#"></use>
        </svg>
      </button>
      <!-- mobile navigation -->
      <nav class="mob-menu__navigation">
        <ul class="mob-menu__list">
          <li class="mob-menu__item">
            <a
              href="./index.html"
              class="mob-menu__link"
              aria-label="link to home section"
              >Home</a
            >
          </li>
          <li class="mob-menu__item">
            <a
              href="#gallery"
              class="mob-menu__link"
              aria-label="link to gallery section"
              >About us</a
            >
          </li>
          <li class="mob-menu__item">
            <a
              href="#about"
              class="mob-menu__link"
              aria-label="link to about us section"
              >How it`s made?</a
            >
          </li>
          <li class="mob-menu__item">
            <a
              href="#products"
              class="mob-menu__link"
              aria-label="link to products section"
              >Our products</a
            >
          </li>
          <li class="mob-menu__item">
            <a
              href="#contact"
              class="mob-menu__link"
              aria-label="link to contacts section"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <button type="button" class="mob-menu__btn btn btn--color-yellow">
        Buy now
        <svg class="btn-vector" width="12" height="12">
          <!-- <use href="./images/svg/icons.svg#icon-vector-btn"></use> -->
          <use href="#"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__button-close button" data-modal-close>
      <svg class="modal__icon-close" width="20" height="20">
        <use href="#"></use>
      </svg>
    </button>
  </div>
</div>
