<section class="hero">
  <div class="hero__container">
    <div class="hero__main-content">
      <div class="hero__title-content">
        <h1 class="hero__title title title--light">
          Ice cream made with <span class="hero__title-big">passion</span>
        </h1>

        <!-- buttons or link???? -->
        <div class="hero__buttons">
          <a class="hero__button link btn btn--color-light" href="#products"
            >Products</a
          >
          <a class="hero__button link btn btn--color-light" href="#about"
            >How it’s made?</a
          >
        </div>
      </div>

      <!-- amount cafes -->
      <div class="hero__amount">
        <p class="hero__txt16">16</p>
        <p class="hero__txt-cafes">cafes</p>

        <p class="hero__txt23">23</p>
        <p class="hero__txt-food">food trucks</p>
      </div>
    </div>

    <!-- advertisement -->
    <div class="hero__ad">
      <p class="hero__after-title">
        Ice cream is cheaper than therapy for stress. Simple Pleasure. Taste It.
        Experience It. Ice Cream Shop? Yes, please.
      </p>

      <button class="hero__link-btn" type="button">
        <svg class="hero__icon" width="8" height="8">
          <!-- <use href="./img/icons/icons.svg#arrow"></use> -->
          <use href="#"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
