.buy-now {
    position: absolute;
    width: 280px;
    height: 986px;
    top: 0px;
    left: 0px;
    transform: translate(0%, 0%);
    z-index: 7;

    background-color: $light-color;
    border: 2px solid $btn-light-bg-color;
    border-radius: 10px;

    padding: 28px;

    @include tablet {
        width: 568px;
        height: 644px;

        padding: 32px 54px;
    }
}

.buy-now__header {
    text-align: center;

    font-family: "Seymour One", Calibri, sans-serif;
    @include fonts(null, 16, 1.5);
    margin-bottom: 83.86px;

    @include tablet {
        @include fonts(null, 20, 1.4);
        margin-bottom: 40px;
    }
}

.order-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 83.86px;

    margin: 0 auto 24.25px;

    @include tablet {
        flex-direction: row;
        gap: 32px;

        margin-bottom: 40px;
    }
}

.order__item {
    position: relative;
    width: 132px;
    height: 134.4px; 
    padding-top: 95.98px;
    padding-bottom: 20.21px;

    @include tablet {
        height: 198px;
        flex-basis: 132px;
        min-width: 132px;

        padding-top: 158px;
        padding-bottom: 20px;
    }

    border: 2px solid grey; //***temp
    border-radius: 15.78px;
    border-top: none;
    
    text-align: center;
}

.order__item::before {

    content: "";
    position: absolute;
    top: -63.65px;
    left: -2px;

    width: 132px;
    height: 139.43px;     

}

.order__item:nth-child(1)::before {
    background-image: url(../images/modals/buy-now/ice-03-des-x1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}


.order__name {
    text-transform: uppercase;
    @include fonts(700, 16, 1.21875);
}

.order__input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order__form {
}

.order__input {
    width: 224px;
    height: 32.33px;
    padding: 8px 12px 7px;
    margin-bottom: 12.12px;

    @include tablet {
        width: 368px;
        height: 42px;
        padding: 11px 16px;
        margin-bottom: 16px;
    }

    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid $hero-bg;
    border-radius: 10px;

    transition: background-color, 250s, linear;
}

.order__textarea {
    width: 224px;
    height: auto;
    padding: 8px 12px 7px;
    margin-bottom: 24.25px;

    @include tablet {
        width: 368px;
        height: auto;
        padding: 11px 16px;
        margin-bottom: 32px;
    }

    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid $hero-bg;
    border-radius: 10px;

    transition: background-color, 250s, linear;

    resize: none;
}

.order__textarea:focus,
.order__textarea:hover,
.order__input:focus,
.order__input:hover {
    outline: none;
    border-color: $btn-dark-border-color;
}

.order__submit-btn.btn {
    
    width: 121px;
    height: 42px;

    background-color: $btn-light-bg-color;
    transition: background-color, 250s, linear;

    &:hover,
    &:focus {
        background-color: $btn-dark-bg-color;
    }

    &:focus {
        color: $light-btn-color;
        outline: none;
    }
}

